/*Main INDEX*/
 
   .banner{
    width: 100%;
    min-height: 100vh;
    background-image: url('../img/index.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
        
    .banner_texto{
      text-align: center;
      position: absolute;
      top: 50%;
      left: 40%;
      color: white;
      font-weight: bold;
      font-size: medium;
    }
    
    .titulo{
        text-align: center;
        font-weight: bold;
        font-size:xx-large; 
    }
    }    