/*MAIN pagina Carrito*/

.container{
    padding-top: 40px;
    .h1{
        grid-area: titulo;
    }
    .pagar{
        background-color: rgb(203, 114, 12);
        border: 1px solid rgb(0, 0, 0);
        width: 100px;
        height: 35px;
        }

.contenedorProducto__img {
        width: 100px;
        height: 100px;
        display: inline-block;
        vertical-align: middle;       
        display: flex;
        flex-direction: column;
        justify-content:center;
    }

#carrito{
    width: 90%;
    grid-area: carrito;
 
    .contenedorProducto{
        padding: 20px 50px;
        margin: 10px auto;
        border: 2px solid;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: black;

    


.contenedorPrice h3{
   font-size: bold;
  
}

.contenedorBotones__eliminar {

    background-color: rgb(219, 28, 28);
    border: 2px solid rgb(0, 0, 0);
    width: 100px;
    height: 35px;
}

.contenedorBotones{
display: flex;
flex-direction: column;
justify-content: center;
}

#carrito .contenedorBotones button{
    margin-bottom: 10px;
}
}
}
}
aside {
    grid-area: precio;
    width: 90%;
    margin: 10px 0;
    border: 2px solid;

.card{
    padding: 20px;
    color: black;
}
}

