/*MAIN pagina Carrito*/
.container{
    padding-top: 40px;

#carrito{
    width: 90%;
    
.row{
    width:auto
}

.contenedorProducto{
padding: 20px 50px;
margin: 10px auto;
border: 2px solid;
display: flex;
justify-content: space-between;
color: black;


.contenedorProducto__img {
width: 100px;
height: 100px;
display: inline-block;
vertical-align: middle;       
display: flex;
flex-direction: row;

}


.contenedorPrice h3{
   font-size: bold;

}

.contenedorBotones__eliminar {

    background-color: rgb(219, 28, 28);
    border: 2px solid rgb(0, 0, 0);
    width: 100px;
    height: 35px;
    display: flex;
    }

.contenedorBotones{
display: flex;
flex-direction: column;
justify-content: space-between;
min-height: 70px;

}

#carrito .contenedorBotones button{
    margin-bottom: 10px;
}
}
}

.pagar{
    background-color: rgb(203, 114, 12);
    border: 1px solid rgb(0, 0, 0);
    width: 100px;
    height: 35px;
    }
aside {
    grid-area: precio;
    width: 90%;
    margin: 10px 0;
    border: 2px solid;

.card{
    padding: 20px;
    color: black;
}
}
}

