.consulta{
margin-top: 3vh;
margin-left: 200px;

.contacto {
  margin-left: 90px;
  color: rgb(0, 0, 0); 
  }

.formulario {
        
        margin-top: 8vh;
        width: 600px;
        padding: 20px;
        background-color: #e1dfdf;
        border-radius: 5px;
        font-size: larger;
        font-weight: bold;

input{
  width: 520px;
}
textarea{
  width: 560px;
}



.button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: darkorange;
    color: white;
    border: none;
    border-radius: 5px;
    
  }
}
}


