

.formulario {
        align-content: center;
        margin-top: 2vh;
        width: 600px;
        padding: 20px;
        background-color: #ece9e9;
        border-radius: 5px;
input{
  width: 520px;
}
textarea{
  width: 560px;
}
.contacto {
text-align: center; 
color: rgb(0, 0, 0); 
}


.button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: darkorange;
    color: white;
    border: none;
    border-radius: 5px;
    
  }
}

