.nosotros{
    align-content: center;
    padding: 20px;
    margin-top: 8vh;
    border: 2px solid black;
    font-size: large;
    font-weight: bold   ;
    color: rgb(0, 0, 0);
    background-color: #e4e3e3;
    

   p{
    line-height: 47px;
   }

}