.nosotros{
    align-content: center;
    padding: 20px;
    margin-top: 10vh;
    font-size: large;
    font-weight: bold   ;
    color: blue;
    background-color: #e4e3e3;

   p{
    line-height: 47px;
   }

}