/*MAIN pagina PRODUCTOS*/

#productos_todos{
    font-size: medium;
   
    .producto{
        height:min-content;
        h2{
            color: rgb(0, 42, 116);
            list-style-type: none;
            text-align: left;
            list-style-type: circle;
            list-style-image: url(../img/comprobado.png);
            }

.img_productos{
    width: 150px;
    height: 150px;
}

ul{
    text-align: left;
    

}

p{
    font-size: small;
}

}
.button{
    background-color: darkorange;
    margin: 5px 0px;
    padding: 10px 5px;
    font-size: medium;
    font-weight: bold;   
    align-items: end;
    }
}